body {margin:0px auto; background-color:#6f6e80}
#field{display:none; position:relative; width:1200px; height:800px; margin:10px auto; border:solid 1px #333; box-shadow:rgba(0,0,0,0.5) 15px 15px;}

